/*==================================================
SKILLS PAGE
==================================================*/

.skills-page{

    display:grid;

    grid-template-columns:1.3fr .8fr;

    gap:30px;

    align-items:start;

}

/*==================================================
LEFT
==================================================*/

.skills-page-left{

    width:100%;

}

/*==================================================
RIGHT
==================================================*/

.skills-page-right{

    width:100%;

}

/*==================================================
RESPONSIVE
==================================================*/

@media(max-width:1200px){

    .skills-page{

        grid-template-columns:1fr;

    }

}